<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= Document%></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div id="main_body">

    <h2 id="main_heading"> Welcome to the web page Using JavaScript, EJS, Dynamic Routing</h2>
    <br>
    <div id="pre_tag">
        So, this is the webpage i created using Node.js, Express.js,EJS, and also a dynamic routing feature is also used
    </div>

    <br>
    
    <div id="div_1">for 1st dynamic routing the url:- localhost:3000/profile/username </div>
    <div id="div_2">for 2nd dynamic routing the url:- localhost:3000/help/name/age </div>

    </div>
    <script src="/javascripts/script.js"></script>
</body>
</html>