
#main_heading, #pre_tag, #div_1, #div_2{
    margin: 0;
    padding-left: 20%;
    box-sizing: border-box;
}

#main_body{
    padding-top: 10%;
}

#div_1, #div_2{
    text-decoration: underline;
    color: rgb(0, 128, 255);
}

#div_2{
    padding-top: 5px;
}